<hr>
<a href="#time-box" data-toggle="collapse" class="text-danger">
    <i class="fa fa-life-ring"></i> &nbsp; به کمک نیاز دارید؟
</a>

<div id="time-box" class="collapse">
    <p>
        <span class="text-dark">
        -    میخواهید <strong>فرم نظرسنجی جدید</strong> بسازید؟
        </span><br>
        برای این کار ابتدا وارد حساب کاربری خود شده سپس از طریق دکمه ابزار نظرسنجی در قسمت بالای صفحه فرم جدید و دلخواه خود را بسازید.
    </p>
    <p>
        <span class="text-dark">
        -     در هنگام ثبت نظر خود به پیام "<strong> شما قبلا به این نظرسنجی رای داده اید </strong>" برخوردید؟
        </span><br>
        رای دادن به فرم ها دارای<strong> محدودیت آی پی کاربر</strong> میباشد به طوری که از هر دیوایس/دستگاه کامپیوتری میتوان تنها<strong> یک رای</strong> به هر فرم داد.
    </p>
    <p>
        <span class="text-dark">
        -     هر کاربر مجاز به ساختن چند فرم است؟
        </span><br>
        هر کاربر عادی میتواند <strong>5</strong> فرم همزمان بسازد و مدیریت کند. ضمن اینکه امکان "<strong>مدیریت و ویرایش فرم ها</strong>" نیز وجود دارد که از منوی <strong>ابزار نظرسنجی > مدیریت فرم ها </strong>در دسترس است.
    </p>
</div>