<hr>
<a href="#time-box" data-toggle="collapse" class="text-danger">
    <i class="fa fa-life-ring"></i> &nbsp; به کمک نیاز دارید؟
</a>

<div id="time-box" class="collapse">
    <p>
        <span class="text-dark">
        -    گزینه رای دادن را پیدا نمیکنید؟
        </span><br>
        برای رای دادن باید وارد حساب کاربری خود شوید. اگر حساب ندارید از طریق لینک بالای صفحه و یا <a href="{% url 'polls:user-signing' %}" class="text-danger"> از اینجا </a> میتوانید حساب جدید بسازید.
    </p>
    <p>
        <span class="text-dark">
        -    میخواهید فرم نظرسنجی جدید بسازید؟
        </span><br>
        برای این کار ابتدا وارد حساب کاربری خود شده سپس از طریق دکمه ابزار نظرسنجی در قسمت بالای صفحه فرم جدید و دلخواه خود را بسازید.
    </p>
</div>