{% for cmnt in question.comments_set.all %}
    <div class="comment-box">
        <span class="float-left">
            <i class="fa fa-calendar"></i>&nbsp;
            {{ cmnt.jalali_date.full }}
            ساعت&nbsp;
            {{ cmnt.date.time }}
        </span>
        <span class="float-right">
            <a href="{% url 'polls:user-poll' cmnt.user %}"><i class="fa fa-user"></i>&nbsp;
            {{ cmnt.user }}
            </a>
        </span><br> 
        <p>
            {{ cmnt.text|linebreaks }}
        </p>
        <div class="clearfix"></div>
    </div>
{% empty %}
    هیچ نظری یافت نشد.<br>
{% endfor %}

<hr>

{% if request.user.is_authenticated %}
    <form action="{% url 'polls:comment' question.id%}" method="POST">
    {% csrf_token %}
        <textarea id="comment-inp" name="comment-inp" placeholder="نظر خود را بنویسید ..." required></textarea>
        <button type="submit" class="btn btn-warning btn-block hand">ارسال نظر</button>
    </form>
    {% else %}
    <div class="alert alert-primary alert-dismissible text-center">
        برای نظر دادن باید وارد حساب کاربری شوید <br>
        <button type="button" class="btn btn-light hand" data-toggle="modal" data-target="#myModal">
            <i class="fa fa-user"></i>&nbsp; ورود / ثبت نام
        </button>
    </div>
{% endif %}