<div class="modal fade" id="delete-alert{{ question.id }}">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h5 class="modal-title">
            فرم <span class="text-danger">{{ question.title }}</span> پاک شود؟
        </h5>
        <button type="button" class="close hand" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body text-center">
        <button type="button" class="btn btn-dark hand" data-dismiss="modal">خیر</button>
        <a href="{% url 'polls:delete-form' question.id %}" class="btn btn-danger hand">پاک کن</a>
      </div>

    </div>
  </div>
</div>