{% extends 'polls/base.html' %}

{% block title %}
Do you think like me? - Home
{% endblock %}

{% block content %}
{{ xxx }}<br>{{ ipp }}
{% for question in questions %}
<a href="{% url 'polls:q_page' question.id %}" class="section-link">
<section class="section-post">
    <article>
        <header>
            <h3>
                {{ question.title|truncatewords:50 }}
            </h3><br>
        </header>

        <div class="clearfix"></div>

        {% include 'polls/progress_full.html'%}

        <div class="clearfix"></div>
        <p>
            {{ question.text|linebreaks|truncatewords:150 }}
        </p>
    </article>
    <div class="clearfix"></div>

    <footer style="text-align: center"> 
        <a href="{% url 'polls:q_page' question.id %}#vote-box" class="btn btn-block btn-outline-dark"><i class="fa fa-ticket"></i> رای دهید</a>
    </footer>
</section>
</a>
{% empty %}
<section class="section-post no-hand text-center">
    در حال حاضر هیچ نظرسنجی در دسترس نیست.   <br><br>
    <a href="{% url 'polls:add_q_page' %}" class="btn btn-danger"><i class="fa fa-plus"></i>&nbsp;   نظر سنجی جدید بسازید    </a>

</section>
{% endfor %}
{% endblock %}