<div id="top-nav" class="bg-dark">
        <span class="float-right">
            <a href="{% url 'polls:index' %}" class="btn btn-light btn-sm"><i class="fa fa-home"></i></a>
        </span>

    {% if request.user.is_authenticated %}
        <span class="float-right top-nav-right">
            <div class="dropdown">
                <button type="button" class="btn btn-light btn-sm dropdown-toggle hand" data-toggle="dropdown">
                    <i class="fa fa-user"></i>&nbsp;   
                    {% if request.user.get_full_name %}
                        {{ request.user.get_full_name }}
                    {% else %}
                        {{ request.user.username }}
                    {% endif %}
                </button>
                <div class="dropdown-menu">
                    <h5 class="dropdown-header">    خوش آمدید   {{ request.user.username }}   </h5>
                    <a class="dropdown-item" href="{% url 'polls:profile' %}">    پروفایل کاربر   </a>
                    <a class="dropdown-item" href="{% url 'polls:profile' %}#profile-chpass">  تغییر رمز عبور  </a>
                    <a class="dropdown-item" href="{% url 'polls:logout' %}"><i class="fa fa-sign-out"></i>&nbsp;   خروج</a>
                </div>
            </div>
        </span>

        <span class="float-left ltr">
            <div class="dropdown">
                <button type="button" class="btn btn-warning btn-sm dropdown-toggle hand" data-toggle="dropdown">
                  <i class="fa fa-edit"></i>
                </button>
                <div class="dropdown-menu rtl">
                    <h5 class="dropdown-header">ابزار نظرسنجی</h5>
                    <a class="dropdown-item bg-warning" href="{% url 'polls:add_q_page' %}"><i class="fa fa-plus"></i>&nbsp; فرم جدید </a>
                    <a class="dropdown-item" href="{% url 'polls:form-management' %}">مدیریت فرم ها</a>
                    <a class="dropdown-item" href="#">راهنما</a>
                </div>
            </div>
        </span>

    {% else %}
        <span class="float-right top-nav-right">
            <button type="button" class="btn btn-warning hand btn-sm" data-toggle="modal" data-target="#myModal">
                <i class="fa fa-user"></i>&nbsp; ورود/ عضویت
            </button>
        </span>
        {% include 'polls/user-signing-modal.html' %}

    {% endif %}

    <div class="clearfix"></div>

</div>

