<div id="user-sign">
    <a href="{% url 'polls:index' %}" class="btn btn-dark btn-sm"><i class="fa fa-home"></i></a>

    {% if request.user.is_authenticated %}
        <a href="{% url 'polls:profile' %}" class="btn btn-dark btn-sm"><i class="fa fa-gear"></i>&nbsp;   پروفایل  
        {% if request.user.get_full_name %}
            {{ request.user.get_full_name }}
        {% else %}
            {{ request.user.username }}
        {% endif %}
        </a>

        
        <a href="{% url 'polls:logout' %}" class="btn btn-warning btn-sm"><i class="fa fa-sign-out"></i>&nbsp;   خروج</a>

    {% else %}

        <button type="button" class="btn btn-dark hand btn-sm" data-toggle="modal" data-target="#myModal">
            <i class="fa fa-user"></i>
        </button>
        {% include 'polls/signup.html' %}

    {% endif %}
</div>

