<span class="float-left text-danger align-left">
    {{ question.choice.n_text }} {{ question.choice.n_votes }}  رای      &nbsp; <i class="fa fa-circle"></i>
</span>
<span class="float-right text-success">
    <i class="fa fa-circle"></i> &nbsp; {{ question.choice.p_text }} {{ question.choice.p_votes }}   رای
</span>
<div class="clearfix"></div>
<div class="progress">
    <div class="progress-bar bg-success" style="width:{{ question.choice.p_percent }}%;height:2rem;">
        <span class="progress-text ltr">
            {{ question.choice.p_percent|floatformat:1 }} %
        </span>
    </div>
    <div class="progress-bar bg-danger" style="width:{{ question.choice.n_percent }}%;height:2rem;">
        <span class="progress-text ltr">
                {{ question.choice.n_percent|floatformat:1 }} %
        </span>
    </div>
</div>