<div class="container"><br>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#tab-page-1">
            توضیحات
        </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#tab-page-2">
            نظرات   &nbsp;<span class="badge badge-primary">{{ question.comments_set.count }}</span>
        </a>
        </li>
    </ul>
    
    <!-- Tab panes -->
    <div class="tab-content">

        <div id="tab-page-1" class="container tab-pane active"><br>

            <p><a href="{% url 'polls:user-poll' question.user %}"> <i class="fa fa-user"></i>&nbsp; {{ question.user.username }}</a></p>

            <h4>
                <i class="fa fa-list-alt"></i> &nbsp;    توضیحات بیشتر
            </h4>
            <p>
                {% if question.text %}
                    {{ question.text|linebreaks }}
                {% else %}
                توضیحاتی وجود ندارد ...
                {% endif %}
            </p><hr>
            <h4>
                <i class="fa fa-warning text-danger"></i> &nbsp;    محدودیت ها
            </h4>
            <p>
                {% if question.date_limit_checker is 0 %}
                <i class="fa fa-clock-o"></i> &nbsp;    محدودیت زمانی : <span class="text-danger"> دارد </span><br>
                <i class="text-info fa fa-info"></i> &nbsp;       وضعیت : <span class="text-primary"> هنوز آغاز نشده است. </span><br>
                <i class="text-info fa fa-hourglass-start"></i> &nbsp;    زمان شروع : <span class="text-primary">
                    {{ question.fa_start_date.full }} - ساعت 
                    {{ question.start_date.time }}
                </span><br>
                <i class="text-info fa fa-hourglass-end"></i> &nbsp;       زمان پایان : <span class="text-primary">
                    {{ question.fa_end_date.full }} - ساعت 
                    {{ question.end_date.time }}
                </span>
        
                {% elif question.date_limit_checker is 1 %}
                    <i class="fa fa-clock-o"></i> &nbsp;    محدودیت زمانی : <span class="text-danger"> دارد </span><br>
                    <i class="text-success fa fa-info"></i> &nbsp;   وضعیت : <span class="text-success">     فعال    </span><br>
                    <i class="text-success fa fa-hourglass-start"></i> &nbsp;    زمان شروع : <span class="text-primary">
                        {{ question.fa_start_date.full }} - ساعت 
                        {{ question.start_date.time }}
                    </span><br>
                    <i class="text-success fa fa-hourglass-end"></i> &nbsp;   زمان پایان : <span class="text-primary">
                        {{ question.fa_end_date.full }} - ساعت 
                        {{ question.end_date.time }}
                    </span>
        
                {% elif question.date_limit_checker is 2 %}
                    <i class="fa fa-clock-o"></i> &nbsp;    محدودیت زمانی : <span class="text-danger"> دارد </span><br>
                    <i class="text-danger fa fa-info"></i> &nbsp;    وضعیت : <span class="text-danger">    به پایان رسیده    </span><br>
                    <i class="text-danger fa fa-hourglass-start"></i> &nbsp;    زمان شروع : <span class="text-primary">
                        {{ question.fa_start_date.full }} - ساعت 
                        {{ question.start_date.time }}
                    </span><br>
                    <i class="text-danger fa fa-hourglass-end"></i> &nbsp;    زمان پایان : <span class="text-primary">
                        {{ question.fa_end_date.full }} - ساعت 
                        {{ question.end_date.time }}
                    </span>
                {% else %}
                <i class="fa fa-clock-o"></i> &nbsp;    محدودیت زمانی : <span class="text-success"> ندارد </span><br>
                <i class="text-success fa fa-info"></i> &nbsp;   وضعیت : <span class="text-success">     فعال    </span><br>
                {% endif %}
            </p>
    
        </div>

        <div id="tab-page-2" class="container tab-pane fade"><br>
            {% include 'polls/comments.html' %}
        </div>


    </div>
</div>