{% extends 'polls/base.html' %}
{% block title %}
    همه برچسب ها
{% endblock %}

{% block content %}
<div class="jumbotron text-center">
    <h3><i class="fa fa-tags"></i>   همه برچسب ها    </h3>
</div>
<section class="section-post">

    {% for tag in tags %}
    <a href="{{ tag.get_absolute_url }}" class="btn btn-danger tag-btn">
        <i class="fa fa-tag"></i>&nbsp; {{ tag.name }} 
        &nbsp; <span class="badge badge-light">{{ tag.question_set.count }}</span>
    </a>
    {% empty %}
    <span class="tags-empty">
        هیچ برچسبی موجود نیست   <br><br>
        <a href="{% url 'polls:index' %}" class="btn btn-danger"><i class="fa fa-home"></i>&nbsp;   رفتن به صفحه اصلی    </a>
    </span>
    {% endfor %}

</section>
{% endblock %}