{% if error %}
    <div class="error ">
        <div class="alert alert-danger alert-dismissible text-center">
            <button type="button" class="close hand" data-dismiss="alert">&times;</button>
            <strong>خطا !</strong><br> {{ error }}
        </div>
    </div>
{% endif %}
{% if voted %}
    <div id="vote-box">
        <div class="alert alert-danger text-center">
            شما به این نظرسنجی رای داده اید     <br>&nbsp;
        </div>
    </div>
{% else %}
<div id="vote-box">
    <form action="{% url 'polls:pvote' question.id %}" method="POST">
        {% csrf_token%}
        <button class="pbtn bg-success text-light hand">{{ question.p_text }}</button>
    </form>

    <form action="{% url 'polls:nvote' question.id %}" method="POST">
        {% csrf_token%}
        <button class="nbtn bg-danger text-light hand">{{ question.n_text }}</button>    
    </form>
</div>
{% endif %}
