/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@viewport{
    zoom: 1.0;
    width: device-width;
}
    
@font-face {
    font-family: 'byekan';
    src: url('../fonts/YekanWeb-Regular.woff');
}

@media (min-width: 768px) {
    .desktop-only {
        display:block !important;
    }
    .mobile-only {
        display: none !important;
    }
    .mobile-only-block {
        display: none !important;
    }
}
 
@media (max-width: 768px) {
    .desktop-only {
        display:none !important;
    }
    .mobile-only {
        display:flex !important;
    }
    .mobile-only-block {
        display:block !important;
    }
}

@media only screen and (orientation: landscape) {
}

@media only screen and (orientation: portrait) {

}

*{
    outline: 0;
    box-sizing: border-box;
    transition: .3s;
}

html {
    scroll-behavior: smooth;
}

body{
    direction: rtl;
    font-family: 'byekan','ubuntu', Tahoma, 'Segoe UI', Verdana, sans-serif;
    background-color: rgb(250, 250, 250);
    transition: .5s;
    overflow-x: hidden;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .3s;
    height: 100%;
    line-height: 2;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.full-view {
    height: 100vh;  /* it means 100% viewport height */
    height: 100%;   /* code on JQuery */
    width : 100%;
}

/* for js Full cover image */
.img-full {
    object-fit: cover;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.img-fit {
    object-fit: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.ltr {
    direction: ltr;
}

.rtl {
    direction: rtl;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.flex-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a{
    color: #000;
    text-decoration: none;
    transition: .3s;
}

a:hover{
    color: rgba(98, 0, 0, 0.9);
    transition: .3s;
}

.hand{
    cursor: pointer !important;
}

.no-hand{
    cursor: default !important;
}

section {
    margin: 0;
    padding: 0;
}

section:after {
    content: "";
    display: table;
    clear: both;
}

.section-post{
    margin: 0 0 2rem 0;
    padding: 1.5rem;
    border: .1rem solid none;
    border-radius: .5rem;
    box-shadow: 0 0rem 1rem 0 rgba(0, 0, 0, 0.2);
    color: #444;
}

.section-post:hover{
    background-color: #eeeeee70;
    box-shadow: 0 0rem 1rem 0 rgba(0, 0, 0, 0.2), 0 0 1.2rem 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
    color: #000;
}

.section-link{
    color: #000;
}

.section-link:hover{
    color: #000;
}

.section-single-page{
    padding: 1.5rem;
    border: .1rem solid none;
    border-radius: .5rem;
    box-shadow: 0 0rem 1rem 0 rgba(0, 0, 0, 0.2);
    color: #222;
}

.section-single-page:hover{
    box-shadow: 0 0rem 1rem 0 rgba(0, 0, 0, 0.2), 0 0 1.2rem 0 rgba(0, 0, 0, 0.3);
}

.progress-text{
    display: block;
    padding-top: .5rem;
}

#vote-box{
    border-radius: 1rem;
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
    width: 100%;
    height: 4rem;
}

.pbtn{
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    border: none;
}

.nbtn{
    float: left;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    border: none;
}

.pad{
    color: #fff;
    padding: .5rem 1rem;
    border-radius: .5rem;
}

#time-box{
    background-color: #fff;
    padding: .5rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-start-end-radius: 1rem;
    border: .1rem solid #bbbbbb70;
}

.full-width{
    width: 100%;
    max-width: 100%;
}

.top-margin-5{
    margin-top: .5rem;
}

.bot-margin-5{
    margin-bottom: .5rem;
}

#comment-inp{
    padding: .5rem;
    margin-bottom: .5rem;
    width: 100%;
    border: .1rem solid rgba(128, 128, 128, 0.15);
    border-radius: .5rem;

}

.comment-box{
    background-color: #fff;
    margin: 0 0 .5rem;
    padding: 1rem;
    border: .1rem solid rgba(153, 153, 153, 0.150);
    border-radius: .5rem;
}

.q-inp{
    padding: .5rem;
    margin-bottom: .5rem;
    width: 100%;
    border: .1rem solid rgba(128, 128, 128, 0.15);
    border-radius: .5rem;
}

.tab-pane{
    background-color: #fff !important;
    padding: 0 0 1rem 0;
    border-end-start-radius: 1rem;
    border-end-end-radius: 1rem;
    border-right: .1rem solid #a1a1a170;
    border-left: .1rem solid #bbbbbb70;
    border-bottom: .1rem solid #bbbbbb70;

}

.half-width{
    width: 50% !important;
}

#top-nav{
    position: relative;
    top:0;
    width: 100%;
    padding: .5rem;
}

#base-container{
    padding: 1.5rem 0 5rem;
}

.error{
    position: relative;
    width: 100%;
}

.top-nav-right{
    padding: 0 .5rem;
}

.tag-btn{
    margin: .3rem !important;
}

.tags-empty{
    display: block;
    min-width: 100%;
    overflow: hidden;
    text-align: center;
}

.form-management-btn{
    margin: .2rem .3rem;
}

.top-error{
    margin: 1rem 0 2.2rem !important;
}