<div class="container">

    <div class="row">
        <div id="contact-form" class="col-md-6 col-lg-4 text-center text-light">

            <h2 class="h2-title">فرم تماس با ما</h2>
            <form action="" method="POST">
                {% csrf_token %}
                <input type="text" name="" id="" class="form-control form-element" placeholder="نام شما">
                <input type="email" name="" id="" class="form-control form-element ltr" placeholder="آدرس ایمیل">
                <textarea name="" id="" class="form-control form-element" placeholder="متن پیام"></textarea>
                <button type="submit" class="btn btn-block btn-light hand">ارسال</button>
            </form>

        </div>
        <div id="" class="col text-center text-light">

            <h2 class="h2-title">
                ما را دنبال کنید
            </h2>
            <div class="row">
                <div class="col-lg-2 col-md-4 col-sm-4">
                    <a href="mailto:info@doyouthinklikeme.ir" class="footer-icon">
                    <i class="fa fa-envelope-o fa-2x"></i><br> ایمیل
                    </a>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4">
                    <a href="tel:09368489724" class="footer-icon">
                        <i class="fa fa-phone fa-2x"></i><br> تلفن
                    </a>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4">
                    <a href="#" class="footer-icon">
                        <i class="fa fa-envelope fa-2x"></i><br> پیامک
                    </a>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4">
                    <a href="https://instagram.com/doyouthinklikeme" class="footer-icon">
                        <i class="fa fa-instagram fa-2x"></i><br>اینستاگرام
                    </a>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4">
                    <a href="" class="footer-icon">
                        <i class="fa fa-creative-commons fa-2x"></i><br> گواهینامه نرم افزار آزاد
                    </a>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4">
                    <a href="https://github.com/iamrf/doyouthinklikeme" class="footer-icon">
                        <i class="fa fa-github fa-2x"></i><br> سورس پروژه
                    </a>
                </div>
            </div>
            <hr>
            
            <p class="text-right">
                <strong>شما هم مثل من فکر میکنید</strong> یک برنامه منبع باز است. از مشارکت شما در این پروژه استقبال میکنیم.
                <a href="https://github.com/iamrf/doyouthinklikeme" class="btn btn-light">لینک پروژه</a>
            </p>
            <p class="text-right">
                <i class="fa fa-copyright"></i> کلیه حقوق این برنامه متعلق به <strong><a href="https://iamrf.net/" target="_blank" class="text-light">iamrf</a></strong> است.
            </p>

        </div>



    </div>
</div>